* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #d0b8a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all {
  background-color: white;
  width: 45%;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-block: 4%;
  padding-block: 30px;
  
}
header {
  color: #8d493a;
  padding: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.button {
  border-color: #8d493a;
  background-color: #8d493a;
  color: azure;
  border-radius: 0.5em;
  cursor: pointer;
  border-style: none;
  text-align: center;
  margin-block: 25px;
}
form {
  margin-inline: 10%;
  margin-block: 20px;
}
input {
  background-color: #f8ede3;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-block: 15px;
  border-radius: 5px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  display: block;
  width: 98%;
}
label {
  font-size: 14px;
}
.invalid {
  color: red;
  font-size: 10px;
  display: none;
}
.imageinput {
  margin-block: 0%;
  padding-top: 10px;
}
